#fondo {
    background-color: rgb(243, 206, 164);
}

.titulo1 {
    background-color: rgb(150, 60, 38);
    color: white;
    padding: 20px;
    font: bold;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
}

.titulo2 {
    background-color: rgb(230, 92, 62);
    padding: 10px;
    font-size: 20pt;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
}

#tabla {
    text-align: center;
}
   
.cabecera1 {
    text-align: center;
}

.cabecera2 {
    text-align: center;
}

.cabecera3 {
    text-align: center;
}

.cabecera4 {
    text-align: center;
}

.cabecera5 {
    text-align: center;
}

.boton2 {
    size: 25px;
}